@keyframes slideInFromLeft {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slideInFromLeftFade {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}
	50% {
		opacity: 0.2;
	}
	75% {
		opacity: 0.5;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideInFromTopFade {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}
	50% {
		opacity: 0.2;
	}
	75% {
		opacity: 0.5;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slideInDown {
	0% {
		transform: translateY(-1000%);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes slideInFromLeftRhombus {
	0% {
		transform: translateX(-500%) skew(-0.785398rad);
	}
	90% {
		transform: translateX(-25%) skew(-0.785398rad);
	}
	100% {
		transform: translateX(0) skew(-0.785398rad);
	}
}

@keyframes slideInDownSidebar {
	0% {
		transform: translateY(-1000%);
		visibility: hidden;
	}

	100% {
		transform: translateY(0);
		visibility: visible;
	}
}

@keyframes flickerIn {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 0.2;
	}
	15%,
	30% {
		opacity: 0.4;
	}
	40% {
		opacity: 0.05;
	}
	100% {
		opacity: 1;
	}
}

@keyframes blink {
	49% {
		background-color: var(--text-pilot-code);
	}
	50% {
		background-color: transparent;
	}
	99% {
		background-color: transparent;
	}
}

@keyframes unhide {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

/* Some elements have been loaded with a dynamic "animate" class in their html.
   If this class is present then the animations will be enabled for those elements,
   otherwise the animations will be disabled.
*/

/* TODO: fix animations for Pilot.vue and Event.vue elements */

/* HEADER + SIDEBAR */
header[class*="animate"] {
	position:relative;
	z-index:100;
	animation: slideInFromLeft 0.3s ease-out;
}

.sidebar-page[class*="animate"] #sidebar {
	display: flex;
	position:relative;
	z-index:100;
	background-color: var(--primary-color);
	animation: slideInDownSidebar 0.3s ease-out 1.2s;
	animation-fill-mode: both;
}

[class*="animate"] .clipped-bottom-right {
	animation: flickerIn 0.5s ease 1.5s;
}

[class*="animate"] .title-container {
	transform: translateX(-5000%);
	animation: slideInFromLeft 0.3s ease-out 0.5s;
	animation-fill-mode: forwards;
}

[class*="animate"] .logo {
	transform: translateX(-5000%);
	animation: slideInFromLeft 0.3s ease-out 1s;
	animation-fill-mode: forwards;
}

[class*="animate"] .rhombus {
	transform: translateX(-200%) skew(-0.785398rad);
	animation: slideInFromLeftRhombus 0.3s ease-out 1s 1;
	animation-fill-mode: forwards;
}

header[class*="animate"] div video,
header[class*="animate"] div.location-info {
	animation: flickerIn 0.5s ease-in 1.5s 1;
	animation-fill-mode: forwards;
}
/* END HEADER + SIDEBAR */

/* VIEWS CONTENT */

.content-container[class*="animate"]#status,
.section-content-container[class*="animate"]#pilots,
section.section-container[class*="animate"]#events,
section.section-container[class*="animate"]#events-logs {
	position:relative;
	z-index:0;
	animation: slideInFromTopFade 0.5s ease-in-out;
	animation-fill-mode: both;
}

@mixin glitchCopy { 
		content: attr(data-text);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
}

.glitch {
	position: relative;
	color: white;
	font-size: 4em;
	letter-spacing: .5em;
	/* Animation provies a slight random skew. Check bottom of doc
	for more information on how to random skew. */
	animation: glitch-skew 1s infinite linear alternate-reverse;
	
	// Creates a copy before our text. 
	&::before{
		// Duplicates our text with the mixin.
		@include glitchCopy;
		// Scoots text slightly to the left for the color offset.
		left: 2px;
		// Creates the color 'shadow' that happens on the glitch.
		text-shadow: -2px 0 #ff00c1;
		/* Creates an initial clip for our glitch. This works in
		a typical top,right,bottom,left fashion and creates a mask
		to only show a certain part of the glitch at a time. */
		clip: rect(44px, 450px, 56px, 0);
		/* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
		with an alternating animation to keep things fresh. */
		animation: glitch-anim 5s infinite linear alternate-reverse;
	}
	
	// Creates a copy after our text. Note comments from ::before.
	&::after {
		@include glitchCopy;
		left: -2px;
		text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
		animation: glitch-anim2 1s infinite linear alternate-reverse;
	}
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
			transform: skew((random(100) / 100) + deg);
    }
  }
}

// Same deal, just duplicated for ultra randomness.
@keyframes glitch-anim2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
			transform: skew((random(100) / 100) + deg);
    }
  }
}

// Does the same deal as before, but now only skews. Used for main text.
@keyframes glitch-skew {
  $steps: 10;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      transform: skew((random(10) - 5) + deg);
    }
  }
}
/* END VIEWS CONTENT */
